.radio-label {
    display: inline;
    vertical-align: middle;
}

#surveyCarousel {
    height: 150px;
    padding: 30px 80px;
}

#surveyCarousel .item label {
    font-size: 200%;
    line-height: 200%;
}

#surveyCarousel .item input {
    height: 150%;
    font-size: 150%;
    line-height: 150%;
}

#surveyCarousel label.radio-label {
    font-size: 150%;
    line-height: 150%;
}
