<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "com.xlbaolab.millionhearts"
version = "0.0.1">
	<name>Million Hearts</name>
	<description>Know your risk!</description>
	<author href="http://www.xlbaolab.com"
	email="peterttseng@gmail.com">Peter Tseng</author>
	<preference name="orientation" value="default" />
</widget>
